services:
  server:
    build:
      context: .
      dockerfile: FiitFlow.Server/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - FIITFLOW_DB_PATH=/data/fiitflow.db

    volumes:
      - fiitflow-data:/data
      - ./cfg:/app/cfg:ro
    ports:
      - "8080:8080"   # можно убрать наружу, если доступ только через nginx

  web:
    build:
      context: FiitFlow.Client
      dockerfile: Dockerfile
      args:
        VITE_API_BASE: /api
    depends_on:
      - server
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  fiitflow-data:

